[Unit]
Description=Nacdlow iglu Server
After=network.target

[Service]
Type=simple
ExecStart=/iglu/nacdlow-server run --port 443

[Install]
WantedBy=multi-user.target
